name: Release packages

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  release-packages:
    name: Release packages
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3
      - name: Move all files into one place
        run: mv */*.tar.gz .
      - name: Cloneing the repository
        uses: actions/checkout@v3
      - name: Extract release note
        run: |
          cat >> extract_release_note.sh << EOF
          #!/bin/bash

          VERSION=\$1

          WRAPPER="== \${VERSION} =="

          INFILE=release_notes
          OUTFILE=release_body

          STARTED=false

          while IFS= read -r line
          do
            if [[ \$line == *"\$WRAPPER"* && \$STARTED == false ]]
            then
              rm -f \$OUTFILE
              STARTED=true
              continue
            fi

            if [[ \$line == *"\$WRAPPER"* && \$STARTED == true ]]
            then
              break
            fi

            echo \$line >> \$OUTFILE
          done < \$INFILE
          EOF
          
          chmod 755 extract_release_note.sh
          ./extract_release_note.sh ${{ inputs.tag }}
      - name: Create a release
        uses: softprops/action-gh-release@v0.1.15
        with:
          files: ./*.tar.gz
          name: Relase of ${{ inputs.tag }}
          body_path: release_body
